@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');






.container {
    margin: 0 auto; 
    max-width: 1200px;
    padding: 0 20px; 
  }

  .align{
    display: flex;
   
   
    /* background-image: url('../../assets/images/homepage/tsh.jpg'); */

    /* background: linear-gradient(to bottom right, #e67e22, #f1c40f); */
 background-repeat: no-repeat;
 background-color:  #ED2939;
    padding: 20px;
    /* height: 290px; */
    margin-top: 25px;
    
  }



  

  .card{
    /* width: 300px; */
    margin: 10px;
  }

  /* .newarrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
  } */

  /* .aligncards{
    display: flex;
    gap: 4px;
    justify-content: space-between;
  } */

  h1,h2,h3,p,h4,h5{
    font-family: 'Urbanist', sans-serif;
  }

  .headtag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    
  }

  .shopnow{
    /* color: white; */
    background-color: black;
    
    color: white;
    /* padding: 20px; */
  }

  .blueback
{
  /* background-image: url('../../assets/images/homepage/light.jpg'); */
  text-align: center;
  padding: 10px;
  margin: 20px;
  /* color: white; */
}

.collec{
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.collecbtn{
  border-radius: 0px;
  font-weight: 600;
  /* background-color: #01BEFF; */
  border-radius: 50px;
  height: 160px;
    width: 150px;
    background-image: url("../../assets/images/header/uuu.svg");
}

.text{
  text-align: center;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(172,52,105,1) 0%, rgba(0,198,255,1) 100%); */
  color: white;
  background-color: black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

/* .poster{
  height: 50vh;
}  */

.colleccards{
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
/* background-color: #ffdf00; */
background-image: url("../../assets/images/homepage/kids.jpg");
}