/* BasicLayout.module.css */
.layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    
    flex: 1; /* Ensure that the content area expands to fill the available space */
    overflow-y: auto; /* Add scrollbars if the content overflows */
  }
  
  /* Add styles for your header and footer as needed */
  